[2019-11-03 12:36] s1-ranjan opened #1 "Is there any way to change the colour of the graph"
I am trying to change the colour of the graph that are being drawn, but unsuccessful, so I write to you, please let me know how to change the colour of the graph.

[2019-11-03 22:26] taoteh1221 commented on #1
Currently there is now way to change the color of the graph, but I will add that as a feature in the next release for you (within about 7 days or less). Thanks very much for the feedback.

[2019-11-04 00:11] taoteh1221 commented on #1
Chart color changing configurations have been added for inclusion the next release. https://github.com/taoteh1221/DFD_Cryptocoin_Values/commit/e602d31baaa573901f5595ffcb0799d1a6870566

[2019-11-04 00:11] #1 closed

[2019-11-04 23:15] taoteh1221 commented on #1
New release is available for download, that includes changing the chart colors in config.php (just follow the directions in that file to update the color codes in that section): https://github.com/taoteh1221/DFD_Cryptocoin_Values/releases

[2020-01-24 13:06] s1-ranjan opened #2 "Support for INR in trading pairs and Supporting exchanges"
Please add INR in the supported feat Currency list and extend the list for following exchanges which supports INR.
1. localbitcoins
2. zebpay :- https://build.zebpay.com/Home/Documentation
3. buyucoin:- https://www.buyucoin.com/api_info
4. bitbns:- https://bitbns.com/order/getTickerWithVolume/

[2020-01-25 19:04] taoteh1221 commented on #2
Thanks for your feedback. I've coded in INR [localbitcoins] support for the upcoming v4.07.3 release (will be released before the end of January). https://github.com/taoteh1221/DFD_Cryptocoin_Values/commit/3519354f2d8e9c36b9243edbf264d0e9ea8b3710

I will look into adding those additional exchanges for further INR support as well.

[2020-01-26 20:49] s1-ranjan opened #3 "Email push feature for updates."
As of now we receive emails alerts for price change in the different exchanges, but we don't receives any mails for the the new version of DFD application, it would be great if the get a email notifications push by DFD directly in our inbox and this can help us to know when a new package is available for upgrade.

[2020-01-26 22:14] taoteh1221 commented on #3
Thanks again for the feedback. That would require the application to make regular calls to the github API. In the spirit of maximum privacy for end users of this application, all API calls are currently limited to coin network / exchange stats, and price alert push notifications (alexa / text services). That said, I will look into a minimally intrusive implementation of upgrade alerts (will see ab

[2020-01-27 22:34] taoteh1221 commented on #2
@s1-ranjan v4.07.3 has just been released, and it includes INR localbitcoins support. I plan to add your desired exchanges in the upcoming v4.08.0 release. I'll let you know when it's out. Thanks again for your feedback, I appreciate it.

[2020-01-27 22:40] taoteh1221 commented on #3
@s1-ranjan I will be adding email / alexa / mobile / text upgrade alerts for the app in the upcoming v4.08.0 release (choose one, or all forms of communication in the configuration). Didn't have time to squeeze it in with the v4.07.3 bug fix released today (but I did add basic ING support). The upgrade alert will be optin within the configuration file, so you'll need to enable it (it will be off b

[2020-01-28 08:38] s1-ranjan commented on #2
@taoteh1221 I tried to use it on my server but I am receiving this error message "The page isn’t redirecting properly" on  Apache Version: 2.4  and  Version Nginx: 1.6

[2020-01-28 08:48] s1-ranjan commented on #3
Please add optin option for Theme in the configuration file, by default the application uses dark theme whereas I prefer to use light so it would be nice if it can be controlled from the setting

[2020-01-29 19:28] taoteh1221 commented on #2
Hello @s1-ranjan thanks for your feedback. Please try the v4.07.4 release I just released a minute ago, and see if your error message goes away? Let me know if it still happens, and I'll figure out what's wrong.  I patched various bugs here and there in this release, AND I also added your upgrade alert feature request. https://github.com/taoteh1221/DFD_Cryptocoin_Values/releases

[2020-01-29 19:31] taoteh1221 commented on #3
@s1-ranjan Good idea, I'll add setting the default theme in the configuration file next release, thanks for your feedback. I have released v4.07.4 a few minutes ago, which has your requested upgrade alert feature included in it (in config.php). Please let me know if it gives you any issues. https://github.com/taoteh1221/DFD_Cryptocoin_Values/releases

[2020-01-29 20:56] s1-ranjan commented on #2
Hi @taoteh1221 , I find the .htaccess file is causing issue in my server if I use with following entry
RewriteEngine On
RewriteCond %{SERVER_PORT} !=443
RewriteRule ^ https://github.com%{REQUEST_URI} [NS,R,L]
 it work's but the script is rewriting the .htaccess which is causing me the issue

[2020-01-29 21:23] taoteh1221 commented on #3
@s1-ranjan I've added the default theme feature you wanted into the upcoming v4.08.0 release. I'll let you know when it's out. https://github.com/taoteh1221/DFD_Cryptocoin_Values/commit/7efd95c82d9a5c1ff789be2ae721b031f96ee19c

[2020-01-29 21:28] taoteh1221 commented on #2
@s1-ranjan I wonder if the new required HTTPS connection feature is the issue of your error, because your load balancer MAY not be letting the app detect if you are connected to the current server instance via HTTPS. Anyways, we'll figure it out. Just holler if v4.07.4 or greater continue giving you trouble, and I'll patch it up better to run with a load balancer.

[2020-01-29 22:23] taoteh1221 commented on #2
@s1-ranjan I believe I have this redirect issue fixed, and I will be releasing it in v4.07.5 (sometime tomorrow) https://github.com/taoteh1221/DFD_Cryptocoin_Values/commit/9ff4d243180cf13859465d47f61363d8c77ea9ae  Meanwhile, if you change the files:
/templates/back-end/root-app-directory-htaccess.template
and
./htaccess (in the main app directory) to this code below, it should fix your issue:
[cod

[2020-01-30 05:16] s1-ranjan commented on #2
Thanks it seems to be working, I am wondering with one question. With every update I am loosing the chats of my previous data's so is there any solution to overcome this problem, so that charts can be survive the upgrade process

[2020-01-30 18:38] taoteh1221 commented on #2
Great, thanks for letting me know...glad it worked. The charts should not be affected by upgrades, UNLESS you upgrade from a version earlier than 4.04.x. What version did you upgrade from? I'll look into this, it should not be happening. Thanks for mentioning this.

[2020-01-30 22:01] taoteh1221 commented on #2
@s1 I was wrong, it's actually after v4.02.x you loose all your previous chart data (major charts overhaul that isn't backwards compatible starting in v4.03.0). Did you upgrade from v4.02.x or earlier version when you had your charts data reset? Or was it an issue upgrading from a higher version?

[2020-01-31 06:05] s1-ranjan commented on #2
@taoteh1221 , I performed upgrade from v3.50.0 and all my chats have gone, so I was thinking it would be better to store the data in the database rather than to store in the folder and the structures of the data tables can be altered in the future if required in the future, if you find some better solution then please let me know.

[2020-01-31 19:12] taoteh1221 commented on #2
@s1-ranjan My apologies you lost all your charts from v3.50.0. I did a major overhaul which included all chart trade 24 hour volume be set to the volume of the paired asset (rather than the volume of the primary asset), so the charts from program versions earlier than v4.03.0 were not backwards compatible. It would no have mattered if I stored in a database or in files...it would not have been bac

[2020-02-01 05:05] s1-ranjan commented on #2
@taoteh1221 , I was thinking about sqlite as it claims to be lightweight but powerful database with using no resource from the server can be a good choice, what do you think about such implementation?

[2020-02-01 16:08] taoteh1221 commented on #2
Thanks for pointing out SQLite, that would be great to use for data that requires query capability (user accounts etc). That said, chart data doesn't need query capability, and it would bloat an SQL database backup (rather than just zip archive a charts folder, which I already have now for chart backups in this app)...and the upcoming lite charts (to increase page load time with charts enabled) re

[2020-02-02 08:56] s1-ranjan commented on #2
Thanks for implementing and improving this product every things works for me,
Well I was thinking why not to make the availability of the chat be controlled from the setting page, I think this can help others with some more degree of freedom and fell of flexibility.
It'll be great to if INR can be accommodated in the chat page too.
Can this application use bootstrap so that this page can be access

[2020-02-02 18:10] taoteh1221 commented on #2
@s1-ranjan Your welcome, glad to here everything is working fine for you with the latest release. You already can add any market to the charts in config.php. See the example I just added a minute ago on github in config.php, also see the notes in this config section on how to add your own: https://github.com/taoteh1221/DFD_Cryptocoin_Values/blob/master/config.php#L348

Adding charts in the config.

[2020-02-02 18:12] #3 closed

[2020-02-02 18:21] taoteh1221 commented on #3
@s1-ranjan Closing the upgrade notice feature request, as it's now in the latest release (as well as the default theme setting): https://github.com/taoteh1221/DFD_Cryptocoin_Values/blob/master/config.php#L122

Thanks for your feedback, it much appreciated! :smile:

[2020-02-02 18:27] taoteh1221 commented on #2
@s1-ranjan In case you did not notice, you can make all charts show their INR value, by setting:
[code]
https://github.com/taoteh1221/DFD_Cryptocoin_Values/blob/master/config.php#L163

Then instead of having USD charts, you will have INR charts. :+1:

[2020-02-03 05:25] s1-ranjan commented on #2
Michael I found your fist solution is giving me a better result where as the second solution is not giving good result although the second solution seems to be very simple as I required to edit only two different lines of configuration file well that will require some work in order to fit well but this can cause issues in the long run as there can be issues with (may be) non supported coins at som

[2020-02-03 06:41] s1-ranjan commented on #2
I agree with you but if a function is added to the settings which writes the availability feature in the cokey then this can be of use to the returning visitors who don't want to see the loading of the chart, as this process is a bit slow and it slows the process of page loading.

[2020-02-03 18:48] taoteh1221 commented on #2
@s1-ranjan They are not separate solutions, you should do both of them.

The first solution just adds the bitbns IRN / BTC market as a chart (or if you change the last parameter in that setting to "both", it will do price alerts too for bitbns INR/BTC).

The second solution shows INR charts #EQUIVALENT# VALUE FOR #ALL MARKETS# (INR DOES #NOT# NEED TO BE SUPPORTED BY THAT EXCHANGE, it just shows th

[2020-02-03 19:08] taoteh1221 commented on #2
Also, you don't need to have charts enabled, and the "activate charts" are only shown to you as your personal settings, NOT to everybody who views the app (EVERYTHING in the interface is per user personal / private settings, nobody else can see it). If you don't want a chart to show for yourself, just don't activate it (no charts show by default, you need to activate each one in your charts page P

[2020-02-04 00:33] taoteh1221 commented on #2
@s1-ranjan I will add the word "Equivalent" next to the Calculated Equivalent charts in the next release. That should clear up some of the confusion. So that BTC / USD (INR) chart will then read BTC / USD (INR Equivalent Value)

[2020-02-04 00:38] taoteh1221 commented on #2
@s1-ranjan What is happening is the application is automatically calculating what the equivalent value is in your primary currency. You will see you also still have the normal charts as well. You can turn on / off any chart you want. This is useful if for instance you want to buy Litecoin, but you would like to see what the value in INR looks like, so you get a better feel for the value.

[2020-02-04 00:40] taoteh1221 commented on #2
@s1-ranjan Or the coin has no INR market, it still allows you to see the coin values in INR. :+1:

[2020-02-04 03:02] taoteh1221 commented on #2
Rai, you were right, there were a few bugs with the charts and it could be clarified more. I have patched the issues, and they will be fixed in the next release. I will let you know when v4.07.7 is released with the fixes. Here are some screenshots of the fixes...
![Screenshot from 2020-02-03 21-55-57](https://user-images.githubusercontent.com/1760489/73710010-b9a59580-46d0-11ea-8e0b-c6f6eadf3fdb.

[2020-02-04 22:44] taoteh1221 commented on #2
@s1-ranjan  v4.07.7 will be released tomorrow with fixes for the charts. I added an INR / localbitcoins chart/alert configuration, since localbitcoins Bitcoin prices seem WAY MORE NORMAL than the HIGH PRICE paid for coins at Bitbns ($13,000 per bitcoin, compared to $9,000 per bitcoin at localbitcoins, BIG DIFFERENCE). I also created a power user configuration to set the preferred INR currency mark

[2020-02-04 22:45] #2 closed

[2020-02-05 19:05] s1-ranjan opened #4 "Visual or Audio Alerts setting tweak"
As of now we have following setting in this section:
Visual or Audio Alerts For Price Changes: Yes/No coingecko.com +5% 1hr/24hrs/7days visual/audio-visual
So, can this +5% can be splited in some thing like this
+/-/±  5%
I mean to say if this value is seplit in two different drop down menu with one menu containing + - and ± as the sign and other menu with the value then we can have a more precise

[2020-02-05 19:10] s1-ranjan opened #5 "Request for telegram support"
I wish to get the update on my mobile and I was thinking if these updates can be pushed to mobile via telegram then it can be great.

[2020-02-06 01:03] taoteh1221 commented on #4
@s1-ranjan Good idea, I see what you mean...have both negative and positive changes show at the same time. I will look into implementing this, thanks for the feedback.

[2020-02-06 01:09] taoteh1221 commented on #5
Have you tried setting your mobile carrier in the configuration? I already have upport for text gateways in India. See the below-linked sections of the config file:

Setting your mobile number carrier: https://github.com/taoteh1221/DFD_Cryptocoin_Values/blob/master/config.php#L58

Finding your mobile carrier on the list: https://github.com/taoteh1221/DFD_Cryptocoin_Values/blob/master/config.php#L7

[2020-02-06 01:24] taoteh1221 commented on #2
v4.07.7 is out, with a better experience using charts (and many bug fixes): https://github.com/taoteh1221/DFD_Cryptocoin_Values/releases

I had a horrible time testing using bitbns as the default market, I highly suggest this setup below for INR in the config file...it worked great for me, it will send your price alerts in INR, and give you an OPTIONAL chart for INR value for non-INR markets (IF T

[2020-02-06 10:46] s1-ranjan commented on #5
It did not work for me, so I thought to go with telegram.

[2020-02-06 10:55] s1-ranjan commented on #5
I think this feature is a old method which was there in the past but in present time this feature is no longer available from my carrier in India.
I found this link https://www.bsnl.co.in/opencms/bsnl/BSNL/services/broadband/sms.html
but the site : www.sancharnet.in is not opening, So I fell they may have rolled out this service.

[2020-02-07 01:04] taoteh1221 commented on #5
sms.sancharnet.in does not have an email server setup in it's mail server records, so it is not running anymore. You could try textbelt or textlocal, I currently support both (see the top of config.php in the latest v4.07.7 release). I will be adding twilio and clicksend support sometime this year too.

Good news on telegram though, I was able to easily integrate it into the app today...it will be

[2020-02-07 01:09] taoteh1221 commented on #4
@s1-ranjan I'll be adding the visual alerts upgrade sometime within the next couple of releases, I have written a few thousand lines of new code over the past couple months, and am still completing a review of it all (to find any bugs I missed). I'll let you know when it's added to the app, thanks again for you great user feedback. :+1:

[2020-02-07 08:19] s1-ranjan commented on #5
Basically there are two main reasons for asking support for telegram:
1. Indian government is not supporting the crypto currency, as of now.
2. Encryption technology makes the messages more secure.

[2020-02-07 15:07] taoteh1221 commented on #5
Yes, I have heard the news they may ban crypto in India. I hope Charlie Shrem talked some sense into the Indian official he met with last year. Fingers crossed. The telegram feature works great, just have to tighten the security on it a little bit, then I will release the upgrade.

[2020-02-08 08:13] taoteh1221 commented on #5
Rai, the release with telegram support is available for download now. Please let me know if you have any issues with telegram alerts in this release? Closing this issue for now, will reopen if any telegram problems occur for you. Thanks for your feedback, this feature was a very good idea. :+1:

[2020-02-09 03:49] taoteh1221 commented on #5
@s1-ranjan There will b a bug fix release v4.07.9 within a few days, to fix a few bugs in the telegram messaging feature. I'll let you know when it's released. There was an issue where I was persistantly storing the telegram user id, so a day or two after activating your messaging it may stop working. This has been fixed in v4.07.9. https://github.com/taoteh1221/DFD_Cryptocoin_Values/commit/f0d71e

[2020-02-09 21:49] taoteh1221 commented on #5
@s1-ranjan Telegram messaging support bug fix release is out: https://github.com/taoteh1221/DFD_Cryptocoin_Values/releases

[2020-02-09 21:49] #5 closed

[2020-02-27 12:17] s1-ranjan opened #6 "Please add following coins in portfolio assets"
Please add few more coins in the portfolio assets and in chart section
1. DASH
2. ZEC
3. BAT

[2020-02-28 02:19] taoteh1221 commented on #6
Hello @s1-ranjan I don't add particular coin requests to the example assets list, as those are only demos to test drive the app, before adding your own coins. See the bottom of the README file on how to add any coins you want, that are available on the supported exchanges: https://raw.githubusercontent.com/taoteh1221/DFD_Cryptocoin_Values/master/README.txt

That said, later this year I will have a

[2020-02-28 02:19] #6 closed

[2020-02-28 06:41] s1-ranjan opened #7 "v4.8.5 is not properly working"
After upgrading to v4.8.5, the website broke in Firefox and it gives the following output.
![Screenshot_2020-02-28 DFD Cryptocoin Values](https://user-images.githubusercontent.com/20767253/75516792-3ce1af00-5a23-11ea-8831-2bc62cbdba7b.png)
where as in Brave browser it works with no issue but it fails to render chart.

[2020-02-28 18:49] taoteh1221 commented on #7
Confirmed FF issues, thanks for the report. I tested with Brave v1.1.23, and the charts worked fine for me. What Brave version are you running?

[2020-02-28 19:11] taoteh1221 commented on #7
FYI, I'm not getting the same issue you are in FF, but I am getting some issues that are rather odd (msie / chrome / brave look fine on my setup).

Could you possibly look at your /cache/logs/errors.log file, to check for any logged errors?

[2020-02-28 19:59] taoteh1221 commented on #7
@s1-ranjan I only having FF issues in v73 on Ubuntu, but only with CSS styling and cookie management (I think my FF install is corrupt), could not replicate your issue. I tried FF v72.0.2 on Windows, and FF v73 on Windows, and both work fine.

I would try 2 things if I were you:

1) Re-install v4.08.5 from this direct github link: https://github.com/taoteh1221/DFD_Cryptocoin_Values/archive/4.08.5.

[2020-02-28 21:01] taoteh1221 commented on #7
@s1-ranjan Additionally, if you have customized settings in config.php, make sure there are no mistakes in the formatting. The best way to troubleshoot that is a fresh install with default config.php settings to start...then carefully add your custom config.php settings one by one, and reload the app webpage to be sure you didn't break anything.

[2020-02-29 07:14] taoteh1221 commented on #7
@s1-ranjan Are you on Firefox on a Windows or Linux machine? Been testing more, and all linux downloads for v73 have weird issues for me with CSS when visiting websites, and the portfolio app (even after clearing my ~/.mozilla settings directory). Firefox v73 on my 2 Windows machines works ok, no issues displaying the portfolio app including charts.

[2020-02-29 07:24] s1-ranjan commented on #7
@taoteh1221 I am on Ubuntu Machine with Firefox v-73.0.1 (64-bit), I feel Issue is with css

[2020-02-29 07:26] s1-ranjan commented on #7
and my brave details : Version 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)

[2020-02-29 07:33] s1-ranjan commented on #7
Its very deficult to recall when I have last used Windows, may be more than 10 years back, when xp was there in the market and the virus problems, then one of my friend suggested to try with linux, after my trying  Ubuntu I saied goodbye to windows world...

[2020-02-29 18:45] taoteh1221 commented on #7
I checked the CSS, there do not appear to be any issues whatsoever, and everything runs fine in MSIE / FF windows version / Chrome / Webkit / Brave v1.1.23.

Like I said, FireFox on Windows works fine, but FireFox seems to have messed up their linux builds for latest versions. Sorry, there is nothing that can be done except switch to Chromium until Firefox fixes the poor build quality issues for l

[2020-02-29 23:11] taoteh1221 commented on #7
@s1-ranjan Please test your FF linux browser here, and tell me if it looks better?
https://dragonfrugal.com/coin-prices/
The CSS here is verified completely valid (just one error I verified is a false positive) here:
https://validator.w3.org/nu/?doc=https%3A%2F%2Fdragonfrugal.com%2Fcoin-prices%2F

[2020-03-01 01:23] s1-ranjan commented on #7
@taoteh1221 I visited the above link and I found every thing is working fine on both the browser in my Linux box.

[2020-03-01 03:11] taoteh1221 commented on #7
Great news, I will release a bug fix tomorrow for you to download. Thanks very much for the feedback @s1-ranjan :smile:

[2020-03-01 05:07] s1-ranjan commented on #7
@taoteh1221 does it'll work out of box or I'll have to reset my chase folder?

[2020-03-01 16:27] taoteh1221 commented on #7
You should be able to leave the cache folder. Just be careful when you edit config.php, check you don't break the app while you edit it.

[2020-03-02 18:28] taoteh1221 commented on #7
Latest release is out now @s1-ranjan : https://github.com/taoteh1221/DFD_Cryptocoin_Values/releases

Be careful when you edit config.php, as that can break the app if you create code errors. Closing this issue, just holler if you have anymore problems. Thanks very much for your feedback. :+1:

[2020-03-02 18:28] #7 closed

[2020-03-20 02:16] s1-ranjan opened #8 "It would be nice if we have a page for market"
It would be great if we have a separate page for market that would list top 100 or 200 coins in one page with following type of details

  | Chose your market source | Coingecko.com / Coinmarketcap.com |   |   |   |   |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
  |   |   | Changes in the market |   |   |   |   |   |  
Ranking | Coin / Token | Global Average value | 1 hrs | 24 hrs |

[2020-03-20 23:09] taoteh1221 commented on #8
My primary goal with this app is to keep it as minimal / simple as possible, to avoid confusion and be very easy to use. A user can already click on each asset name to visit it's coingecko / coinmarketcap page, and then they can click the main page once on those sites to see a MUCH BETTER MARKETCAP LIST than they could get anywhere else in the world.

That said, thanks very much for taking the tim

[2020-03-20 23:09] #8 closed

[2020-03-21 05:20] s1-ranjan commented on #8
I partially agree with you, but DFD_Cryptocoin_Values relies on those two websites for the data and having a market page in this application will just provide a overview of two different market places without leaving this app and more over this application will provide a simpler view of two different markets. Whereas the parents site will provide a much detailed market details.

[2020-03-21 18:13] taoteh1221 commented on #8
We need to save space for more feasible / relevant features in the interface, other than features that are currently much better on offsite apps. You have to keep an interface simple and minimal so people using an app find it easy and not confusing with TOO MANY FEATURES. This is a real problem many developers fail to see. Simpler is ALWAYS better, if you want people to really use the app alot.

I

[2020-03-31 16:36] taoteh1221 commented on #4
@s1-ranjan I finally finished the code review on the heavy work done since last december, and have finally had time to add the feature request you wanted for showing gain / loss visual alerts simultaneously. This will be included in the next release within a few days: https://github.com/taoteh1221/DFD_Cryptocoin_Values/commit/1c3c238df3bc00c9bbe434e47dfdcfbb2d26423e

Thanks for your feedback, this

[2020-03-31 16:36] #4 closed

[2020-04-01 18:15] taoteh1221 commented on #4
@s1-ranjan v4.09.2 is now available for download, which includes the visual / audio alerts showing gain and loss simultaneously: https://github.com/taoteh1221/DFD_Cryptocoin_Values/releases

[2020-06-22 04:25] s1-ranjan commented on #4
Inset of using `<span style="color: #6ead6e;">+</span><span style="color: #dd7c0d;">-</span>` following code can have a better output `<span style="color: #6ead6e;"><sup>+</sup></span>&frasl;<span style="color: #dd7c0d;"><sub>-</sub></span>`
for the both type of result under portfolio tab.
Above code can be a much closer representation of the fractional representation of the both the value.

[2020-06-22 05:23] s1-ranjan opened #9 "Buyucoin is using new API"
I have seen today that Buyucoin is using new API and they have dropped the old API so please fix those and documentation is available at:
https://documenter.getpostman.com/view/2739249/Szme5eNF?version=latest

[2020-06-29 23:53] taoteh1221 commented on #9
Thanks for reporting this. Sorry it took so long to get to it, I have MANY bug fixes coming up in the next release I was very busy doing. I have updated the buyucoin API logic, it will be included in the next release (will be released tomorrow): https://github.com/taoteh1221/DFD_Cryptocoin_Values/commit/e8c21163844d3117670303a5df5730bd7a91d748

[2020-06-29 23:53] #9 closed

[2020-06-30 21:50] taoteh1221 commented on #4
Sorry for the wait. Great idea, thanks! :) I just added this too, and released v4.14.7 with it included: https://github.com/taoteh1221/DFD_Cryptocoin_Values/releases

[2020-07-05 11:18] s1-ranjan commented on #4
I don't find it to be 100% accurate  with ![pm](https://user-images.githubusercontent.com/20767253/86531397-608b9900-bede-11ea-8220-8db8094df51e.png), so I tried to create a .svg file that can solve this issue, because I thought this svg files can be easily manipulated with css to add different colours in the future versions...
[pm.tar.gz](https://github.com/taoteh1221/DFD_Cryptocoin_Values/files/

[2020-07-06 20:07] taoteh1221 commented on #4
Good idea, thanks! :) I just added that into the upcoming release: https://github.com/taoteh1221/DFD_Cryptocoin_Values/commit/7fe604478c151f2569221e40f3cdc49d2685e1cb

[2020-07-22 07:44] s1-ranjan opened #10 "Getting lost in the configuration file."
I fell time has arrived to shorten the configuration file, as of now, the feeds links, the portfolio and chart's setting are being served from a single file, it would be nice if the Portfolio, charts and rss/feeds entry values are being assigned to respective files rather then the main configuration file, and the path to those files can be included in the main configuration, because with the each

[2020-07-22 15:39] s1-ranjan commented on #1
It would be nice to control the chats background colour  from the default light or dark css file, I fell the default value "#515050" is good for the dark theme whereas the value "#ffffff" would be a good choice for lite theme.
The main issue I faced with the current chats background is that it fits well in only one mode perfectly, by adopting two different chart background will have a much better

[2020-07-22 17:57] taoteh1221 commented on #1
It would over-complicate the configuration settings so they are more confusing for the non-technically-inclined. We need something that's READIBLE in both themes to keep it simple.

[2020-07-22 20:31] taoteh1221 commented on #10
Sorry you're getting a bit lost in the config file. This is partially due to reorganizing it over the last few releases. That work is done now, and it should be easier from here onward to find the settings you need with everything properly categorized now.

I had thought about seperating the config into multiple files, but after thinking it over I decided that over-complicates things for new / ine

[2020-07-24 05:01] s1-ranjan commented on #10
As of now I found three unwanted/ user-specific sections:
i: Chart and Price Alert
ii: Standard Rss
iii: Portfolio Asserts
Above mentioned sections should be handled from respective files rather than from the main configuration file, this will definitely shorten the main configuration file, moreover in the above list point's i and iii are more user specific in which people will try to define their

[2020-07-24 11:19] taoteh1221 commented on #10
As I said earlier, part of the reason for the confusion was the constant refining of those categories (re-categorizing the content and renaming for a better UX). I honestly would love to split the config file up like you said, but the problem arises when new users have multiple config files instead of one config file. It's just not feasible to do.

I'm sorry about re-categorizing the config file o

[2020-07-24 14:54] s1-ranjan commented on #10
I don't find any issues with this split, we are only required to choose the names and the locations of the files wisely such as
i: Chart and Price Alert can be accommodated in  chart.php
ii: Standard Rss can be accommodated in rss.php
iii: Portfolio Asserts can be accommodated in asserts.php
Above files (chart.php, rss.php, asserts.php)can be placed in the php folder under  app-lib or some other l

[2020-07-24 17:27] taoteh1221 commented on #10
I'm very sorry Ranjan, I don't agree it's a good idea to split the config file up into multiple config files (I already thought it over in depth a long time ago). In future releases, you won't have to edit config.php at all...config will be run from a cached version of your customized config that will never change between updates. At this point, config.php will only be used as a 'default' config f

[2020-07-27 09:17] s1-ranjan opened #11 "Please update the Zebpay api"
As of now DFD Cryptocoin is using https://www.zebapi.com/api/v1/market for the Zebpay, and today I discover a new api https://www.zebapi.com/pro/v1/market/ and it provide a much detailed information from Zebpay, so please update it for zebpay.

[2020-07-27 11:16] s1-ranjan commented on #11
Can you please add this tickers api for WazirX exchange :  https://api.wazirx.com/api/v2/tickers for crypto-inr pair.

[2020-07-27 13:27] s1-ranjan opened #12 "Few tweaks in the Portfolio tab"
There are few tweaks that can be performed on various tabs
i. It would be good to add a blank space in the currency symbol and numeral value, as of now the default look is **$10000** it will be good if it look like **$ 10000**, this can be extended to the graph part also
ii. In the Portfolio page the first column is for short and it does not look good to show a random number in the beginning of a

[2020-07-28 20:36] taoteh1221 commented on #12
You can already add a space next to $ or any other currencies here in config.php very easily if that's what you prefer (just add a space AFTER the symbol inside the single quotes): https://github.com/taoteh1221/DFD_Cryptocoin_Values/blob/master/config.php#L608

As for the rest of your ideas: I'm sorry but I don't agree they improve the interface, in fact they would make it more confusing in my opi

[2020-07-29 14:21] s1-ranjan commented on #12
Thanks for providing me that valuable information, well let me try to reexplain my ideas once again,this time visually
i. I am talking to remove this column from the portfolio page.
![1](https://user-images.githubusercontent.com/20767253/88808145-1f7e6000-d1d0-11ea-84a7-e73976b409ff.png)
By removing this  column it'll increase the screen real-estate, moreover the list will look good with no serial

[2020-07-29 19:22] taoteh1221 commented on #12
On i:
This is the original sort order (the order of the assets in config.php). It takes up very little screen real estate and is there to return quickly to the default sort order (by clicking on the word 'Sort' at the top of the data column).

On ii:
This is NOT a duplicate of the chosen bitcoin market, this is the chosen currency market on the settings page. Therefore it only displays the user's

[2020-08-02 11:35] s1-ranjan opened #13 "Allow cronjobs to be executed using external servers"
I hove noticed my host is causing trouble with the cronjobs setting, they always reset the values to null, so I was thinking if this application have the capability to run the cronjob from external server.

[2020-08-02 20:11] taoteh1221 commented on #13
See the README.txt file in the main app directory on setting up a cron job properly. If that doesn't help, you should contact your website host's support desk. They should be able to help you get it running properly. Also check your error logs in the app, which may help to see what's going on. Cron jobs are not designed to run from an external server.

[2020-08-02 20:11] #13 closed

[2020-08-04 15:23] #12 closed

[2020-08-04 15:23] #10 closed

[2020-08-04 16:58] taoteh1221 commented on #11
Ok, updated the zebpay API and added wazirx. This will be included in the next release v4.16.0 (later today): https://github.com/taoteh1221/DFD_Cryptocoin_Values/commit/3c0c55370f5eb092910e647bf87c1d4161f92147

[2020-08-04 16:58] #11 closed

[2020-08-15 16:40] adrien-be opened #14 "Support for Mac and Windows OS?"
Thanks for this awesome OSS.

Are you planning to support Mac and Windows Operating Systems anytime soon?

[2020-08-16 16:49] taoteh1221 commented on #14
Your welcome @adrien-be. Currently this app only comes as a "Server Edition", which requires being installed on a device running a PHP web server, and viewing the app in a web browser (locally or remotely).

Support is already built-in for Microsoft Internet Explorer, and all other major web browsers on Linux and Windows. I do my best to have it look good on Apple Safari too, using a linux variant

[2020-08-28 17:07] s1-ranjan opened #15 "Request for including two small changes in the UI"
I would like to request to include two small modifications in the UI
1. It would be good if almost all the tabs in the UI can be toggled from the main settings so that the one can control the presence of the tabs in the app.
![Screenshot_2020-08-28 DFD Cryptocoin Values - Portfolio Tracker(1)](https://user-images.githubusercontent.com/20767253/91593748-533ed800-e97e-11ea-931f-674a9d66f809.png)
2.

[2020-09-10 12:38] s1-ranjan opened #16 "Bug in leatest bilt v4.19.0 & v4.19.1"
There is no proper behavior with Price Change Visual / Audio Alerts: setting from the UI

[2020-09-10 20:34] taoteh1221 commented on #16
Thanks for the report. I'm not able to replicate this issue. Could you clear your browser cache, and refresh the web page to see if that fixes it? I refactored the functions.js file a week or two ago. If the problem persists after clearing the browser cache, let me know the steps to reproduce the issue on my end, including browser / operating system versions?

[2020-09-10 20:35] taoteh1221 commented on #16
Also, restart your browser, AFTER clearing the cache.

[2020-09-10 21:29] taoteh1221 commented on #15
I myself like not having to login to see basic config file parameters that don't reveal anything significant regarding personal settings (email address, phone number, etc are never shown). I also like minimizing non-critical additions to config.php, since it's getting to be a few thousand lines of code already. That said, I'll leave this issue open and tag it for community feedback. If enough peop

[2020-09-23 21:39] taoteh1221 commented on #16
I'm going to presume this was fixed by reloading / refreshing the refactored JavaScript, because of no response for 2 weeks? Closing for now. Let me know if it's still an issue, and I'll reopen this. Thanks for the feedback.

[2020-09-23 21:39] #16 closed

[2020-10-11 05:08] s1-ranjan commented on #16
Sorry for delay in my reply to this thread, I found this issue was associated with the folder permissions in my server for the templates and app-lib folder by changing the folder permission to 755 my problem got fixed, but I am observering a new issue related to the graph, the data are not been saved in the server.

[2020-10-11 14:09] taoteh1221 commented on #16
Any messages in /cache/logs/errors.log log file? Are you sure you're cron job is running ok?

[2020-10-12 21:46] taoteh1221 commented on #16
/cache/ permission may need to be 777 if your server is a strict setup (which it sounds like it is).

[2020-10-18 03:27] s1-ranjan commented on #16
I have seen this error messages:
[2020-10-18 03:07:32] ui => system: HTTP server 'htaccess' support has NOT been enabled on this web server for the 'cache' and 'cron-plugins' sub-directories. 'htaccess' support is required to SAFELY run this application (htaccess security checks are throttled to a maximum of once every hour). ;
[2020-10-18 03:07:32] ui => system: Server / app setup requirements no

[2020-10-18 09:38] s1-ranjan commented on #16
I don't see any new data has been added, so I decided to execute the cron job via the terminal to get an idea of what is going on and I got
`php /home/ranjan/web/crypto.0or1.ml/public_html/cron.php > /dev/null 2>&1`
`Segmentation fault (core dumped)`
`(core dumped)` error, I am not sure what is wrong, Well I am enclosing the error log from the application [error.log](https://github.com/taoteh1221/

[2020-10-19 20:16] taoteh1221 commented on #16
By looking at the error logs, I presume you successfully enabled htaccess on the server AFTER you saw those warnings?

Looks like your cron job is running according to log entries, BUT you seem to have issues with either folder permissions, or your disk space is full. Data is not being written to disk in the external API cache. Make sure your 'cache' folder AND ALL FOLDERS / FILES INSIDE IT are se

[2020-10-20 00:50] taoteh1221 commented on #16
A Segmentation fault when you run cron via command line may be you are too low on disk space to run any app that requires cache access (PHP's session cache in this case). It also would explain the failed disk write errors in the log file. Make sure your hosting account has enough reserve storage space before trying anything else.

[2020-10-20 13:09] s1-ranjan commented on #16
Finally, I am able to run the latest version on my server but it has flushed all my chart data from the server, so I was thinking it would be nice if this application has an inbuilt function for the import-export of those data so that it can be prevented from any future data loss during the processes of the upgrade.

[2020-10-20 19:40] taoteh1221 commented on #16
Great news! :smile:

Chart backup is already built-in. Just make sure you setup your to / from email in config.php, and also set how often to backup charts here (default is once every day): https://github.com/taoteh1221/DFD_Cryptocoin_Values/blob/main/config.php#L524

You will then receive an email every X days with a secure download link to backup chart data to your PC. Copies are also saved for

[2020-10-21 02:01] s1-ranjan commented on #16
Thanks for providing this information I tried to import those data by replacing the subfolder in the chart directory, but the final result took some time to rendered on the screen... so I was expecting if there has been any import feature in the application this would render the result at a much faster rate.. and can prevent a false impression of result not render.

[2020-10-21 18:47] taoteh1221 commented on #16
It's in my TO-DO list, but I'm taking a break for a few months right now...it won't be added anytime soon, so this is the only method available right now.

[2020-10-22 19:14] taoteh1221 commented on #16
Your welcome. It took time probably because it was re-building the "lite charts" from the archival charts...having an import feature it would still take just as long.

[2020-11-24 06:21] taoteh1221 commented on #16
I finally ran into the visual price alerts bug, it will be fixed in the v4.22.2 release coming out later this week. Sorry I wasn't able to replicate the issue until now.

[2021-04-18 13:21] m-roberts commented on #14
A Docker image would offer better encapsulation of the app and its dependencies so that it can run uniformly and consistently on any infrastructure.

[2021-04-18 21:40] taoteh1221 commented on #14
Thanks for the feedback @m-roberts, I'll check out building docker images.

[2021-05-12 17:00] JVTEAM opened #17 "Was working yesterday. Now displays (ERROR) and loading"
I had it running for a week now.  Now it no longer loads the markets and just displays ETH(Error) Loading... or BTC (Error) Loading...

[2021-05-12 18:30] #17 closed

[2021-05-12 18:49] taoteh1221 commented on #17
Being fixed already, but thanks for reporting: https://github.com/taoteh1221/Slideshow_Crypto_Ticker/pull/24

[2021-07-17 17:47] s1-ranjan commented on #11
Please add this tickers API for CoinDCX  exchange :  https://public.coindcx.com/exchange/ticker from India.

[2021-07-28 16:52] s1-ranjan opened #19 "Please add this tickers API for CoinDCX exchange : https://public.coindcx.com/exchange/ticker from India."
Please add this tickers API for CoinDCX  exchange :  https://public.coindcx.com/exchange/ticker from India.

_Originally posted by @s1-ranjan in https://github.com/taoteh1221/Open_Crypto_Portfolio_Tracker/issues/11#issuecomment-881934185_

[2021-08-11 09:12] s1-ranjan opened #20 "Extend support for sending alerts in telegram groups and channel's."
As of now it's possible to receive alerts in the telegram bot, but in order to send messages in the groups and channels is not an easy task, so it would be nice if this tracer is able to push the notifications in the group and channels

[2021-08-11 09:33] s1-ranjan opened #21 "Please include unocoin API in the tracker"
I have not found any single API that makes all the information available from the Unocoin site, well I found a documentation at the following link https://www.unocoin.com/in/support/api-documentation
In my investigation, I found two different URL structure
https://api.unocoin.com/api/exchange/pairs (this list all the listed coin in the exchange.)
https://api.unocoin.com/api/exchange/prices/INR/BAT

[2021-08-11 13:08] taoteh1221 commented on #21
I'll look into it at some point. I'm not doing any new releases on my open source projects until October, taking a summer vacation.

[2021-08-11 14:50] taoteh1221 commented on #20
Not sure if this is possible, but I'll look into it in October when I'm working on this project again (on vacation right now from my free software projects).

[2021-08-24 06:05] s1-ranjan opened #22 "An issue with the update tab"
As of now update tab is taking more width than the default screen resolution so it would be nice if the update table fits well with the screen resolution in order to prevent the horizontal scrolling.

[2021-08-24 06:07] s1-ranjan commented on #22
my screen resolution is 1440x900 (16:10)

[2021-08-24 12:36] taoteh1221 commented on #22
@s1-ranjan This is not possible, as this is only happening because the content in the update page is wider than your screen. You have no empty page space on either side of the update page on the left a right sides of the page, correct?

[2021-08-25 08:27] s1-ranjan commented on #22
yes, you are correct @taoteh1221  that does not look good.

[2021-08-25 13:21] taoteh1221 commented on #22
Could you please send me a screenshot @s1-ranjan ?

[2021-10-09 22:31] whitesource-bolt-for-github[bot] opened #23 "CVE-2021-32708 (High) detected in league/flysystem-1.0.55"
## CVE-2021-32708 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>league/flysystem-1.0.55</b></p></summary>

<p>Abstraction for local and remote filesystems</p>
<p>

Dependency Hierarchy:
  - cache/filesystem-adapter-0.3.3 (Root Library)
    - :x: **league/flysyste

[2021-10-10 01:00] whitesource-bolt-for-github[bot] opened #24 "CVE-2021-32708 (High) detected in league/flysystem-1.0.55"
## CVE-2021-32708 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>league/flysystem-1.0.55</b></p></summary>

<p>Abstraction for local and remote filesystems</p>
<p>

Dependency Hierarchy:
  - cache/filesystem-adapter-0.3.3 (Root Library)
    - :x: **league/flysyste

[2021-10-10 15:31] taoteh1221 commented on #24
Vulnerable library is located in /3rd-party/google-api/. We're not hooked into Google API in any live features yet (will use later for Google home alerts / Google translate), so it causes no attack vector yet in Open Crypto Tracker. Patch it for next release.

[2021-10-10 18:52] whitesource-bolt-for-github[bot] opened #25 "CVE-2019-8331 (Medium) detected in bootstrap-3.3.4.min.js - autoclosed"
## CVE-2019-8331 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.4.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloudf

[2021-10-10 18:52] whitesource-bolt-for-github[bot] opened #26 "CVE-2020-11023 (Medium) detected in jquery-1.11.3.min.js - autoclosed"
## CVE-2020-11023 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.11.3.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js">https://cdnjs

[2021-10-10 18:52] whitesource-bolt-for-github[bot] opened #27 "CVE-2020-11022 (Medium) detected in jquery-1.11.3.min.js - autoclosed"
## CVE-2020-11022 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.11.3.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js">https://cdnjs

[2021-10-10 18:52] whitesource-bolt-for-github[bot] opened #28 "CVE-2018-14040 (Medium) detected in bootstrap-3.3.4.min.js - autoclosed"
## CVE-2018-14040 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.4.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-10-10 18:52] whitesource-bolt-for-github[bot] opened #30 "CVE-2018-14042 (Medium) detected in bootstrap-3.3.4.min.js - autoclosed"
## CVE-2018-14042 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.4.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-10-10 18:52] whitesource-bolt-for-github[bot] opened #31 "CVE-2018-20676 (Medium) detected in bootstrap-3.3.4.min.js - autoclosed"
## CVE-2018-20676 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.4.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-10-10 18:52] whitesource-bolt-for-github[bot] opened #32 "CVE-2016-10735 (Medium) detected in bootstrap-3.3.4.min.js - autoclosed"
## CVE-2016-10735 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.4.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-10-10 18:52] whitesource-bolt-for-github[bot] opened #33 "CVE-2015-9251 (Medium) detected in jquery-1.11.3.min.js - autoclosed"
## CVE-2015-9251 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.11.3.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js">https://cdnjs.

[2021-10-10 18:52] whitesource-bolt-for-github[bot] opened #34 "CVE-2019-11358 (Medium) detected in jquery-1.11.3.min.js"
## CVE-2019-11358 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.11.3.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js">https://cdnjs

[2021-10-10 19:48] whitesource-bolt-for-github[bot] opened #35 "CVE-2021-41116 (High) detected in composer/composer-1.10.22 - autoclosed"
## CVE-2021-41116 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>composer/composer-1.10.22</b></p></summary>

<p>Composer helps you declare, manage and install dependencies of PHP projects. It ensures you have the right stack everywhere.</p>
<p>Library home page:

[2021-10-10 19:48] #26 closed

[2021-10-10 19:48] #25 closed

[2021-10-10 19:48] #28 closed

[2021-10-10 19:48] #27 closed

[2021-10-10 19:48] #31 closed

[2021-10-10 19:48] #30 closed

[2021-10-10 19:48] #32 closed

[2021-10-10 19:48] #33 closed

[2021-10-10 21:29] #35 closed

[2021-10-12 20:00] s1-ranjan opened #36 "Facing issue with few coin pairs"
I tried to add few coins in this app, almost most of the coins are working normally over here but few coins are showing some error as shown below:
[2021-10-12 19:30:06] cron => market: oct_asset->charts_price_alerts() - No INR conversion value (INR pairing) for "uni-7";
[2021-10-12 19:30:09] cron => market: oct_asset->charts_price_alerts() - No INR conversion value (INR pairing) for "bnb-2";
[2021

[2021-10-12 20:07] s1-ranjan opened #37 "Getting updates for new coins listing and delisting via email, telegram, and other means."
It would be a great feature if this application can trigger a message for listing and delisting of coins from any exchange, this can help in making a quick modifications in the config file.

[2021-11-12 14:17] s1-ranjan commented on #20
I found [tgcf ](https://github.com/aahnik/tgcf) on Github, maybe this can do this work, please have a look or there can be some good alternative for this work...

[2021-11-13 06:50] taoteh1221 commented on #20
Not sure when I'll get to determining the feasibility of enhancing current telegram capabilities. Honestly there are a lot more backlogged things that are way more important than this, and my time is limited these days on my open source / free software projects. I'll check it out at some point when I have prioritized time available.

[2021-12-08 04:47] s1-ranjan opened #38 "Support for Pretty links"
As of now, the URLs used to show index.php in the URLs which does not look good, so implementing Pretty links can remove the unwanted .PHP part from the URL.

[2021-12-08 14:02] taoteh1221 commented on #38
I have a lot more things to do to this app that are way more important than hiding index.php in the browser location bar, and very little time these days to do it. Sorry, this isn't a feasible use of my work time on this project.

[2021-12-08 14:02] #38 closed

[2021-12-16 03:13] s1-ranjan opened #39 "Recent built of 5.05.0 is throwing Error Code: 500"
The new version of this app is throwing 5.05.0 is throwing error code 500, while trying to auto-refresh the portfolio or when trying to save the cookies under settings.

[2021-12-16 14:24] taoteh1221 commented on #39
Is this with the latest default config.php (not edited by you)? Please try with the latest default config.php file if you have not tried that yet. Let me know if that still gives you trouble. I have no problem myself this way, I cannot replicate your issue.

[2021-12-16 16:43] taoteh1221 commented on #39
If using the latest default config.php does not help, you could post any apache error logs you may have, which would help me debug it.

[2021-12-16 16:47] taoteh1221 commented on #37
This doesn't have enough feasibility in my opinion to devote time on adding as a feature. Over-complicating an app leaves users confused on how to use it in the first place. Please review the contributing guidelines before submitting new issues from here onwards: https://raw.githubusercontent.com/taoteh1221/Open_Crypto_Tracker/main/CONTRIBUTING.txt Thanks very much for your feedback.

[2021-12-16 16:47] #37 closed

[2021-12-16 16:53] taoteh1221 commented on #36
I'm presuming this is resolved, closing for now.

[2021-12-16 16:53] #36 closed

[2021-12-24 07:12] s1-ranjan commented on #39
Sorry for the delay in my reply, I am not able to test with your default configuration file, whereas I am enclosing my apache error log with this message with the hope this can help you in figuring out the issue, I'll sooner perform my test with the default settings and let you informed my finding.
[coin.0or1.xyz.error.log](https://github.com/taoteh1221/Open_Crypto_Tracker/files/7773095/coin.0or1.

[2021-12-24 07:20] s1-ranjan commented on #39
I am wondering with one question can by enabling the DEBUG MODE in the configuration file can provide some information with the error code 500.

[2021-12-24 07:39] s1-ranjan commented on #39
The default configuration has given me the same result on my side, i.e., error code 500, I am using this application with PHP / Nginx packages on my server, maybe this Nginx might be causing some issue with this application.

[2021-12-24 12:40] taoteh1221 commented on #39
Hello @s1-ranjan, thank you for trying with the default config.php, and sending your error logs. Unfortunately, it looks like you do not have PHP errors logging to you nginx error log file. Please consult with your server's system administrator about having PHP error logging enabled, and send me a new set of error logs after you do.

Also of importance, which version of open crypto tracker were yo

[2021-12-24 12:47] taoteh1221 commented on #39
Yes DEBUG MODE may help, in fact I forgot we do need to enable showing PHP errors in the app, so your server may already show PHP errors ok (sorry please disregard my previous message)

If you change $ct_conf['init']['error_reporting'] to 1 at the top of config.php, your error logs should show the PHP error causing the problem:

https://github.com/taoteh1221/Open_Crypto_Tracker/blob/main/config.ph

[2021-12-24 12:49] taoteh1221 commented on #39
I'm sorry, instead please change $ct_conf['init']['error_reporting'] to -1 at the top of config.php, and than your error logs should show the PHP error causing the problem:

https://github.com/taoteh1221/Open_Crypto_Tracker/blob/main/config.php#L18

[2021-12-24 12:59] taoteh1221 commented on #14
Just a note here on this thread, that as of v5.06.0 and higher a half-decent batch file supporting Win10 task scheduler has been added for cron job support. Just run it, and choose your preferred parameters. It defaults to win10 XAMMP files paths, so a user can just use those pre-configured settings, or change to custom settings if they prefer.

[2021-12-24 14:57] s1-ranjan commented on #39
I tried those changes in my config file but I don't see any output at the front end and moreover I don't find any log file in my case folder of the application.

[2021-12-25 07:15] taoteh1221 commented on #39
It won't output to the front-end, it should only add the PHP errors to the NGINX error logs. Check there, the same logs you sent me earlier. Thank you for the help debugging this, we'll get it fixed.

[2021-12-26 14:01] s1-ranjan commented on #39
@taoteh1221, I have upload the error log, please have a look.
[coin.0or1.xyz.error.log](https://github.com/taoteh1221/Open_Crypto_Tracker/files/7777056/coin.0or1.xyz.error.log)

[2021-12-26 15:00] taoteh1221 commented on #39
Thanks @s1-ranjan I'll have a look at it later this week, and see what we can do.

[2021-12-27 16:34] taoteh1221 commented on #39
@s1-ranjan I'm not seeing any fatal PHP errors in the logs. I am seeing "upstream sent too big header" NGINX error as the last log entry, indicating the issue is you NGINX configuration.

See these pages for possible solutions:

https://stackoverflow.com/questions/23844761/upstream-sent-too-big-header-while-reading-response-header-from-upstream

https://ma.ttias.be/nginx-proxy-upstream-sent-big-he

[2022-01-04 06:15] s1-ranjan commented on #39
@taoteh1221 I am using Hestia Control Panel in my VPS and I tried to configure the subdomain to serve this application from Apache mode, but the problem persisted, I am not sure what's the error is when I tried with the default configuration file there is no such error with the application and today I was looking for some alternative for my panel, and I came across along cloudpanel.io on GitHub wi

[2022-01-04 12:43] taoteh1221 commented on #39
Good luck @s1-ranjan, this doesn't look like a bug in the app, seems to be a weird NGinx error with "header too big" (whatever that means). I'd switch to Apache if I were you. HostGator is pretty good, I believe they use Apache.

[2022-02-12 09:36] taoteh1221 commented on #39
@s1-ranjan I just got what may be a similar issue using Apache (Size of a request header field exceeds server limit), when selecting too many charts / news feeds / coins at the same time. If you are still encountering this issue, try deleting all cookies related to the app, and slowly select only a few coins / news feeds / charts. This may help. I'll be looking into this further at some point, and

[2022-02-13 17:49] taoteh1221 commented on #39
NOTES TO SELF ON THIS (anyone following this thread can disregard)...

When selecting too many charts / news feeds / coins, the header data can be too big:

[code]

ABOVE IS FROM APACHE. MAY BE RELATED TO https://github.com/taoteh1221/Open_Crypto_Tracker/issues/39 ON NGINX! We may need to find a way to detect TOTAL COOKIE SIZE (OF ALL COOKIES USED BY THE APP) #BEFORE SUBMITTING DATA#. Look into it

[2022-02-15 23:51] taoteh1221 commented on #39
@s1-ranjan The "header too big" error you encountered has been fixed as best as possible. I have decreased cookie data size where possible, and added error logging / system alerts if a user's install gets near server limits for header size (adjustable in the power user config section): https://github.com/taoteh1221/Open_Crypto_Tracker/commit/ba88c86f09febaba99b363345423fd75e8b54f2a

I should be do

[2022-02-15 23:51] #39 closed

[2022-02-23 10:24] taoteh1221 commented on #14
Linux desktop support is finally here, with the v5.13.0 release: https://github.com/taoteh1221/Open_Crypto_Tracker/releases

Windows desktop support will be out in a few days as well. Mac support could take awhile, as my Mac is pretty old, not sure I can test modern packages on it anymore. We'll see how it goes.

[2022-02-27 01:35] m-roberts commented on #14
Would still prefer to run this in a Docker container :)

[2022-02-27 03:36] taoteh1221 commented on #14
I have checking into docker building on my large TODO.txt list. Any ideas on where to start, as I've never used docker before?

[2022-02-28 02:18] m-roberts commented on #14
Depends on how you learn really - I learn by looking at working examples and walkthroughs. At a glance, it seems like this is a half-decent jumping off point: https://hackernoon.com/how-to-use-a-template-to-use-docker-with-php

[2022-02-28 05:48] taoteh1221 commented on #14
Thanks @m-roberts, I'll start there when I schedule in some time for looking into docker builds. Honestly not sure when, it's been a wild few years aggressively building this app out. I may need a break for awhile this year. :)

[2022-02-28 05:54] taoteh1221 commented on #14
@adrien-be The app now has Windows support in the latest release: https://github.com/taoteh1221/Open_Crypto_Tracker/releases

Hoping to eventually add Mac support too, at some point.

[2022-04-21 14:15] taoteh1221 opened #41 "Blank screen in server edition / linux desktop edition on fresh install, restart fixes it"
v5.14.2 Linux Desktop Edition:

Fresh install shows a blank screen, stays that way indefinitely. Stopping / restarting works, brings up the admin registration page.

[2022-04-21 16:10] taoteh1221 commented on #41
Confirmed same EXACT issue with v5.14.2 Server Edition: Blank screen on first run, reload the page, and then the admin registration page shows.

[2022-04-21 19:22] taoteh1221 commented on #41
Windows Edition is NOT affected. Best guess on cause: php8 compatibility? Turn on debugging to apache error log, clear ENTIRE cache AND delete cache directory to try and replicate a fresh install.

[2022-04-21 20:33] taoteh1221 commented on #41
Fixed: https://github.com/taoteh1221/Open_Crypto_Tracker/commit/bdfda05eda37581afa78549435f51df06ff0155d

[2022-04-21 20:33] #41 closed

[2022-04-21 20:36] taoteh1221 opened #42 "Admin registration in firefox does not work"
End-user had issues: https://github.com/taoteh1221/Slideshow_Crypto_Ticker/issues/46#issuecomment-1105719720

[2022-04-29 00:57] taoteh1221 commented on #42
Confirmed / reproduced this bug, Firefox does not allow registering a new admin account.

[2022-05-23 16:34] s1-ranjan opened #44 "A feature request for crypto-crypto price alert notification (instead of just fiat value)"
There is no issue with the crypto to fiat currency notification as we get all the information in those two variables i.e., in crypto and fiat currency as shown below:
The BAT trade value in the BTC market at the Poloniex exchange has decreased -20.21% in INR value to ₹32.92 over the past 0.05 days since the last price alert. 24 hour pair volume has decreased -4.84% to a INR value of ₹28,762 (volum

[2022-05-23 20:02] taoteh1221 commented on #44
This price alert feature was NOT designed to show the crypto value, EVEN for crypto market pairings. It is only designed to show the fiat value for ANY pairing (crypto or non-crypto). See the 'help' tab in the app, or README.txt for more information on the price alert feature.

I'm sorry but I don't see enough feasibility in this feature request to spend my time building it. I don't have much free

[2022-05-23 22:39] taoteh1221 commented on #44
Have you tried enabling the 'price-target-alert' plugin? This is a way to track and get comm alerts based off crypto value, that is already a feature. See it's activation setting right after the charts section in config.php.

Additionally, it has it's own config file inside it's plugin folder, within the main subdirectory 'plugins', where you add your market pairs and exchange name, and target pri

[2022-05-23 23:45] taoteh1221 commented on #44
Another consideration is over-complicating features, making them more confusing to use. Sometimes less is more. Make sure to review the contributing guidelines for this project here, to have a sense of what it's trying to accomplish:

https://raw.githubusercontent.com/taoteh1221/Open_Crypto_Tracker/d25aae7e56a013e31aad2d61a2edadc8a0d1e7de/CONTRIBUTING.txt

[2022-05-25 20:08] taoteh1221 commented on #42
Fixed for upcoming v5.14.4 release: https://github.com/taoteh1221/Open_Crypto_Tracker/commit/a18b00ceccfec575fce66e76bea3e2c1ca0cee1f

[2022-05-25 20:08] #42 closed

[2022-06-03 21:14] #44 closed

[2022-06-03 21:17] taoteh1221 commented on #15
No community feedback in almost 2 years on this, so I'm closing. I still don't like the ideas myself in this feature request, from a feasibility / UX viewpoint.

[2022-06-03 21:17] #15 closed

[2022-06-03 21:21] taoteh1221 commented on #20
I don't think this is feasible for me to create myself in the core app. However, as of the latest version of this app, there is now full plugin support and developer documentation, so you can build this yourself as a plugin:

https://raw.githubusercontent.com/taoteh1221/Open_Crypto_Tracker/main/DOCUMENTATION-ETC/PLUGINS-README.txt

[2022-06-03 21:21] #20 closed

[2022-06-03 21:36] taoteh1221 commented on #14
Since cross-platform 'desktop versions' of this app require PHPdesktop, just an FYI having a Mac version of this app depends on the current funding level for a Mac release of PHPdesktop. $350 more in funding gets this done, according to their open issue on the Mac release here:

https://github.com/cztomczak/phpdesktop/issues/208

[2022-06-27 03:41] s1-ranjan opened #45 "Please include poloniex futures trade"
Currently, it's not possible to monitor [poloniex futures trade](https://poloniex.com/learn/futures) from this application, so I request you to extend support for future trades in this app.